body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
section{
    display: flex;
    padding-bottom: 20px;

}
#img-1{
    background-image: url(images/shapes/Group\ 8450.png);
    background-repeat:no-repeat;
  
    background-size: 110%;
    width: 50%;
    
    
}
.half-width1{
    width: 50%;
    padding: 90px;
}
.text-color{
    color: orange;
}
.button1{
text-decoration: none;
background-image: linear-gradient(orange,tomato);
padding: 15px 30px;
color: white;
font-weight: 600;
border-radius: 30px;
box-shadow: 10px 10px 20px orange ;
}
#pad{
    padding-bottom: 40px;
}
h1{
    font-size: 65px;
    color: gray;
}
p{
    padding-bottom: 20px;
    font-size: 20px;
}
#img-2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin:0px;
    padding-left: 0%;
    width: 100%;

}
#img-21{
    width: 50%;
}